body.clandestino {
  background: black;
  color: lime;
  font-family: 'Share Tech Mono', monospace;
  overflow: hidden;
}

.console-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #111;
  padding: 20px;
  border: 2px solid lime;
  box-shadow: 0 0 20px lime;
  z-index: 2;
}

#console-output {
  height: 300px;
  overflow-y: auto;
  white-space: pre-line;
  margin-bottom: 10px;
}

#console-input {
  width: 100%;
  background: black;
  color: lime;
  border: 1px solid lime;
  padding: 5px;
}
